@model HomeViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        @foreach (var ad in Model.ads)
        {
            <div class="bh-light p-4 rounded shadow mb-3">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.Ad.date</h5>
                <h5>Phone Number: @ad.Ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Ad.Description</p>
                @if (ad.IsMine)
                {
                    <form method="post" action="/home/delete">
                        <input type="hidden" value="@ad.Ad.Id" name="id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        }
    </div>
</div>